body {
  background: #ffebbb;
  margin-top: 20px;
}

h1,
p {
  text-align: center;
}

.link {
  background-color: #347474;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 10px 5px;
  border-radius: 4px;
  text-decoration: none;
}

.croissant-image {
  display: block;
  margin: 30px auto;
}

.email-address {
  text-decoration: none;
  color: #347474;
}
.email-address:hover {
  text-decoration: underline;
}
